# Environnement virtuel
.venv/

# Cache Python
__pycache__/
*.py[cod]

# Fichiers générés
Data_Analytics_Report.pdf
cleaned_data.csv

# VS Code 
# Database
*.db

# Data files
*.csv

# Documents
*.docx

# Python cache
__pycache__/
*.pyc

# Virtual environment
# .venv/
models/
*.pkl
database.db
__pycache__/
.venv/
.streamlit/secrets.toml